


@mixin btn-type ($c1, $c2, $c3, $c4, $c5, $c6) {
    color: $c1;
    background-color: $c2;
    border-color: $c2;
  
    &:hover,
    &:focus,
    &:active,
    &.#{$prefix}-btn-active {
      color: $c3;
      background-color: $c4;
      border-color: $c4;
    }
  
    &:active,
    &.#{$prefix}-btn-active {
      background-image: none;
    }
    .#{$prefix}-badge {
      color: $c5;
      background-color: $c6;
    }
  }

@mixin  btn-dropdown ($c) {
    color: $whiteColor;
    background-color: $c;
    border-color: $c;
    background-image: none;
}

.#{$prefix}-btn{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 4px;


    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    transition:background 0.2s ease,box-shadow 0.2s ease;
    &:focus,
    &:active:focus,
    &-active:focus {
        outline: 0;
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }

    &:hover,
    &:focus {
        color: $fontColor;
        text-decoration: none;
    }
    &:active,
    &-active {
        background-image: none;
        outline: 0;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }
    &-disabled,
    &[disabled] {
        pointer-events: none;
        cursor: not-allowed;
        box-shadow: none;
        opacity: .65;
    }

    &-default {
        color: $fontColor;
        background-clip: padding-box;
        background-color: $whiteColor;
        border-color: rgba(150, 160, 180, 0.3);

        &:hover,
        &:focus,
        &:active,
        &.#{$prefix}-btn-active {
        color: $weightGrayColor;
        }

        &:active,
        &.#{$prefix}-btn-active {
        background-image: none;
        }

        &.#{$prefix}-btn-disabled,
        &[disabled],
        &.#{$prefix}-btn-disabled:hover,
        &[disabled]:hover,
        &.#{$prefix}-btn-disabled:focus,
        &[disabled]:focus,
        &.#{$prefix}-btn-disabled:active,
        &[disabled]:active,
        &.#{$prefix}-btn-disabled.#{$prefix}-btn-active,
        &[disabled].#{$prefix}-btn-active {
            background-color: $lightGrayColor;
            border-color: $lightGrayColor;
        }
        .#{$prefix}-badge {
            color: $whiteColor;
            background-color: $fontColor;
        }
    }

    &-primary {
        @include btn-type($whiteColor, $primaryColor, $whiteColor, $primaryColorhover, $primaryColor, $whiteColor)
    }

    &-success {
        @include btn-type($whiteColor, $successColor, $whiteColor, $successColorhover, $successColor, $whiteColor)
    }
    &-info {
        @include btn-type($whiteColor, $infoColor, $whiteColor, $infoColorhover, $infoColor, $whiteColor)
    }

    &-warning {
        @include btn-type($whiteColor, $warningColor, $whiteColor, $warningColorhover, $warningColor, $whiteColor)
    }

    &-danger {
        @include btn-type($whiteColor, $dangerColor, $whiteColor, $dangerColorhover, $dangerColor, $whiteColor)
    }

}



.#{$prefix}-open > .#{$prefix}-dropdown-toggle.#{$prefix}-btn-default {
    color: $fontColor;
    background-image: none;
}









.#{$prefix}-open > .#{$prefix}-dropdown-toggle.#{$prefix}-btn-primary {
     @include btn-dropdown ($primaryColor);
  }
  
  .#{$prefix}-open > .#{$prefix}-dropdown-toggle.#{$prefix}-btn-success {
     @include btn-dropdown ($successColor);
  }
  
  .#{$prefix}-open > .#{$prefix}-dropdown-toggle.#{$prefix}-btn-info {
     @include btn-dropdown ($infoColor);
  }
  
  .#{$prefix}-open > .#{$prefix}-dropdown-toggle.#{$prefix}-btn-warning {
     @include btn-dropdown ($warningColor);
  }
  
  .#{$prefix}-open > .#{$prefix}-dropdown-toggle.#{$prefix}-btn-danger {
     @include btn-dropdown ($dangerColor);
  }
  
  .#{$prefix}-btn {
    @include defaultBtnSize();
  }
  
  .#{$prefix}-btn-lg,
  .#{$prefix}-btn-group-lg > .#{$prefix}-btn {
    @include lgBtnSize();
  }
  .#{$prefix}-btn-sm,
  .#{$prefix}-btn-group-sm > .#{$prefix}-btn {
    @include smBtnSize();
  }
  .#{$prefix}-btn-xs,
  .#{$prefix}-btn-group-xs > .#{$prefix}-btn {
    @include xsBtnSize();
  }




  .#{$prefix}-btn-block {
    display: block;
    width: 100%;
  }
  .#{$prefix}-btn-block + .#{$prefix}-btn-block {
    margin-top: 5px;
  }
  input[type="submit"].#{$prefix}-btn-block,
  input[type="reset"].#{$prefix}-btn-block,
  input[type="button"].#{$prefix}-btn-block {
    width: 100%;
  }

  .no-radius{
      border-radius: 0;
  }
  .#{$prefix}-radius{
    border-radius: 50%;
}


  .#{$prefix}-hasIconBtn{
      content:" ";
  }
