* {
    margin: 0;
    padding: 0;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

html,
body {
    height: 100%;
}


.box {
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.main {
    display: flex;
    min-width: 888px;
    overflow: hidden;
    height: calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: calc(100% -40px);

    .slider {
        height: auto;
        background: #e3e3e3;
        /*空白区域分配比例为0（作用于项目）*/
        flex-grow: 0;
    }

    .router {
        margin-left: 10px;
        width: auto;
        background: #fff;
        flex-grow: 1;
        overflow-y: auto;
    }
}
.demo{
    padding: 18px 20px 15px!important;
   background-color: #f5f5f5!important;
}
nav {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
    display: block;
    min-width: 245px;
    width: 245px;
    color: #555;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 25px;

    ul {
        position: relative;
        padding-bottom: 20px;

        li {
            list-style: none;

            .nav-tag {
                font-size: 16px;

                span {
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: #ff5252;
                    margin-right: 10px;
                }
            }

            .nav-text {
                font-size: 14px;
                margin-left: 30px;
                padding-left: 5px;
                display: block;
                &:hover{
                    color: #333;
                    font-weight: 800;
                    background-color: rgb(30,136,229);
                    &>small {
                        color: #333;
                    }
                }
                small {
                    margin-left: 6px;
                    color: #999;
                    font-size: 12px;
                }
            }
            
            a {
                cursor: pointer;
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
                position: relative;
            }
        }
    }
}

.headering {
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    padding: 10px 60px;
    height: 40px;
    background-color: #3F51B5;
    display: flex;

    & .header-logo {
        height: 100%;
        flex: 1;
        position: relative;

        & .logo-text {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 1.8em;
            font-weight: 800;
            line-height: 40px;
            color: #fff;
        }
    }
}


.content-box {
    margin-right: 20px;
    padding: 25px 25px 100px;
    color: #666;
    background-color: #fff;
    line-height: 22px;
    overflow: hidden;
    overflow-y: auto;
    font-size: 14px;
}

.content-box h1 {
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 20px;
}

.content-box h2 {
    font-weight: 400;
}

.h1-blue {
    color: #3F51B5;
}

.vut-all {
    font-weight: 400;
    margin: 20px 0;
}

.t-intent {
    letter-spacing: 1px;
    margin: 10px 0;
    padding-bottom: 5px;
    font-size: 15px;
}

pre {
    margin: 0 !important;
    padding: 0 9.5px !important;
    background: transparent !important;
}

pre code {
    font-size: 15px !important;
    background: transparent !important;
}

.t-box {
    padding: 10px;
    box-shadow: 0 5px 10px -7px rgba(87, 53, 117, 0.13), 0 10px 30px -6px rgba(0, 60, 170, 0.1);

}

.t-content {
    display: flex;
    position: relative;
    border: 1px solid #eee;

    & .t-content-left {
        flex: 1;
        height: 100%;
    }

    & .t-content-right {
        min-height: 1rem;
        padding: 0 10px;
        padding-bottom: 10px;
        flex: 1;
        border-left: 1px dashed #dedede;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.table {

    // margin-left: 1.3em;
    table {
        height: 40px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 5px;

        tr {
            height: 40px;
        }

        td {
            height: 40px;
            border: 1px solid #ececec;
            padding: 0 8px;

            .smork {
                border-radius: 3px;
                margin-right: 5px;
                margin-bottom: 5px;
                padding: 5px;
                background-color: #e7eaed;

                &:hover {
                    background-color: #303F9F;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}



// vut
.vut_lists {
    width: 100% !important;

}

.vut_lists li {
    float: left;
    width: 100px;
    height: 180px;
    text-align: center;
    list-style: none !important;
}

.vut_lists .vut-icon {
    font-size: 42px;
    line-height: 100px;
    margin: 10px 0;
    color: #333;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;

}

.vut_lists .vut:hover {
    font-size: 100px;
}
.fontclass{
    display: none;
}

.icon{
   cursor: pointer; 
}