


/*------- 主题色 - 参考色 ------*/
$theme1: #3490de;
$theme2: #3fc1c9;
$theme3: #f5f5f5;
$theme4: #f35e80;




/*-------color ------*/

$whiteColor: #fff;
$blackColor: #000;
$lightBlackColor:  #333;
$grayColor: #ccc;
$weightGrayColor: #999;
$lightGrayColor:   #eee;
$lightColor: #f9f9f9;




/*-------font color ------*/
$fontColor: #555;

/*-------font shape ------*/
$shape: 3px;
$circle: 20px;



/*theme color*/
$primaryColor: #1E88E5;
$primaryColorhover: #1565C0;
$hoverColor:rgba(65, 202, 192, 0.05);

/*extend color*/
$successColor: #19d567;
$successColorhover: #30d073;

$infoColor: #2db7f5;
$infoColorhover: #43bcf3;

$dangerColor: #EF5350;
$dangerColorhover: #FF1744;

$warningColor: #FBC02D;
$warningColorhover: #F57F17;


$errorColor: #455A64;
$errorColorhover: #263238;





